/* ********************************************************** */
/*                                                            */
/*   ░██████╗░██╗██╗░░░██╗░█████╗░███╗░░██╗████████╗          */
/*  ██╔════╝░██║╚██╗░██╔╝██╔══██╗████╗░██║╚══██╔══╝           */
/*  ██║░░██╗░██║░╚████╔╝░███████║██╔██╗██║░░░██║░░░           */
/*  ██║░░╚██╗██║░░╚██╔╝░░██╔══██║██║╚████║░░░██║░░░           */
/*  ╚██████╔╝██║░░░██║░░░██║░░██║██║░╚███║░░░██║░░░           */
/*  ░╚═════╝░╚═╝░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚══╝░░░╚═╝░░░           */
/*                                                            */
/*  style.css                                                 */
/*  By: r3b31 <lindasmucassi@gmail.com>                       */
/*  Created: 2022/05/13 14:42:54 by r3b31                     */
/*  Updated: 2022/05/13 14:42:54 by r3b31                     */
/*                                                            */
/* ********************************************************** */

body {
    margin: 0;
    background: darkgray;
    overflow: hidden;
    text-align: center;
}

#myCanvas {
    background-color: lightgray;
}